<html>
<head>
    <meta charset="utf-8"/>
    <title>Детектор транспорта</title>
{#    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" media="screen">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" media="screen">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" media="screen">
{#    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}" media="screen">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='prettify.css') }}" media="screen">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='style_modal.css') }}" media="screen">#}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--link rel="stylesheet" href="../style.css" media="all"-->
    <script src="{{ url_for('static', filename='raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='poly.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='detector.js') }}"></script>

</head>
<body>
<div id="logo"><img src="{{ url_for('static', filename='logo.png') }}" style="width:100px;height:33px;margin-left:50px;position: absolute;"/></div>
<h1 style="text-align: center; margin-bottom: 2px; font:22px Arial, Helvetica, sans-serif;font-weight:bold;position: relative;float:top">Детектор транспорта</h1>
<!--div id="zeroPolyAlert" style="float:left; top: 50px; left: 50px; position: absolute; font:12px Arial, Helvetica, sans-serif;font-weight:bold;"></div-->
<!--div id="editModeAlert" style="float:left; top: 50px; left: 50px; position: absolute; font:12px Arial, Helvetica, sans-serif;font-weight:bold;"></div-->
<div id="zeroPolyAlert"
     style="text-align: center; top: 250px; font:12px Arial, Helvetica, sans-serif;font-weight:bold;"></div>
<div id="editModeAlert" style="text-align: center; font:12px Arial, Helvetica, sans-serif;font-weight:bold;"></div>

<!--form name="" method="post" type="submit" action="ip_handler.php"-->
<form action ="" name="" method="post" >
    <div style="float:left; top: 70px; left: 880px; position: absolute; border: 0px solid #333;border-color: rgb(150, 150, 150);">
        <p style="text-align: center;font:14px Arial, Helvetica, sans-serif;"><font size="3"><b>Параметры</b></font></p>
        <p class="right_panel_text">IP адрес камеры:<br>
            <input class="right_panel_text" id="ip_address" name="ip" type="text" value= "{{ ipStatus.ip }}"
            pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"><br>
        <p class="right_panel_text">Маска подсети:<br>
            <input class="right_panel_text" id="ip_netmask" name="mask" type="text" value= "{{ ipStatus.mask }}"
            pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"><br>
        <p class="right_panel_text">IP адрес шлюза:<br>
            <input class="right_panel_text" id="ip_address_gateway" name="gateway" type="text" value= "{{ ipStatus.gateway }}"
            pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"><br>
        <p class="right_panel_text">IP адрес концентратора:<br>
            <input class="right_panel_text" id="ip_address_hub" name="hub" type="text" value= "{{ ipStatus.hub }}"
            pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"></p>
        <button id="changeButton" name="btn1" style="width:178px" value="Изменить" class ="btn btn-primary" onclick="sendSettingsToServer();"/>Изменить</button>
    </div>
</form>
<div style="float:left; top: 400px; left: 880px; position: absolute; /*border: 1px solid #333; /* Параметры рамки */">
    <p><button style="width:178px" type="button" id="editButton" value="Редактировать" class="btn btn-primary"/>Редактировать</button></p>
    <p><button style="width:178px" type="button" id="delButton " value="Удалить все" class="btn btn-primary"/>Удалить все</button></p>
{#    <input type="button" name="camSettingsButton" id="camSettingsButton" value="Настройки детектора" class="button"/><br>#}
    <!-- Кнопка, вызывающее модальное окно -->
    <p><a style="width:178px" href="#settings_modal" class="btn btn-primary" data-toggle="modal">Настройки детектора</a></p>
    <a style="width:178px" href="#help_modal" class="btn btn-primary" data-toggle="modal">Справка</a><br><br>
    <!--input type="button" name="helpButton" id="helpButton" value="Справка" class="button"/><br><br-->
    <!--input name="inp1" type="text" value= "30"><br>
    <input id="" name="btn2" style="visibility:visible;" type="submit" value="GO" class="button"/-->
    <span id="polyData" style="visibility:hidden; font:14px Arial, Helvetica, sans-serif;">hidden</span><br><br>
    <span id="hub_Data" style="visibility:hidden; font:14px Arial, Helvetica, sans-serif;">hubData</span><br><br>
    <!--img id ="pict2" style="width:50px;height:50px" title="Подсказка"-->
</div>

<!-- слой картинки -->
<!--div id="img_div" style="float:left; top: 70px; left: 50px; width:800px;height:600px;position: absolute"-->
<div id="img_div" style="float:left; top: 70px; left: 50px; width:800px;height:600px;position: absolute">
    <!--div class="block1"-->
    <!--img id="pict" style="width:100%;height:100%"/-->
	<img src="{{ url_for('video_feed') }}" style="width:100%;height:100%">
    <!--img id ="pict" style="width:100%;height:100%"/-->
</div>

<!-- слой рисования -->
<div id="holder" style="float:left; top: 70px; left: 50px; position: absolute"/>

<br>
<div id="settings_modal" class="modal fade" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Параметры детектирования</h4>
      </div>
      <div class="modal-body">
        <form method="post" id="settinsForm"></form>
			<table class="table" style="text-align: left; font:14px Arial, Helvetica, sans-serif;" border="0" cellpadding="1" cellspacing="1">
				<tbody>
					<tr>
						<td style="width:500px">Порог срабатывания детектора фона, по умолчанию 20</td>
                        <!--required pattern='#^[0-9]+$#'-->
						<td><input style="width:100px" class="" type="text" name="detection_frame_tresh" form="settinsForm" value= {{ detection_settings.frame_tresh }}></td>
					</tr>
					<tr>
						<td style="width:500px">Гистерезис срабатывания детектора фона, по умолчанию 10</td>
						<td><input style="width:100px" class="modal_input_text" type="text" name="detection_frame_hyst" form="settinsForm" value= {{ detection_settings.frame_hyst }}></td></td>
					</tr>
					<tr>
						<td style="width:500px">Порог срабатывания детектора движения, по умолчанию 30</td>
						<td><input style="width:100px" class="modal_input_text" type="text" name="detection_move_tresh" form="settinsForm" value= {{ detection_settings.move_tresh }}></td></td>
					</tr>
					<tr>
						<td style="width:500px">Гистерезис срабатывания детектора движения, по умолчанию 25</td>
						<td><input style="width:100px" class="modal_input_text" type="text" name="detection_move_hyst" form="settinsForm" value= {{ detection_settings.move_hyst }}></td></td>
					</tr>
				</tbody>
			</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" onclick="sendSettingsToServer();">Сохранить изменения</button>
      </div>
    </div>
  </div>
</div>
<div id="help_modal" class="modal fade" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Справка</h4>
      </div>
      <div class="modal-body" style="font:12px Arial, Helvetica, sans-serif">
        <p>Для задания зон детектирования нажмите кнопку "Редактировать". Нарисуйте мышкой прямоугольник левым кликом и перетаскиванием. Измените его форму кликая и перетаскивая желтые квадраты по углам полигона.
            Двигайте полигон целиком кликом на нем и перетаскиванием. Аналогичным образом можно создать до 4-х полигонов на одну камеру. Двойной клик удаляет полигон.
            Номер полигона добавляется и удаляется автоматически. Редактировать можно как новые, так и ранее созданные полигоны.</p>
            <p>Задайте направление движения кликом у края получившейся зоны детектирования. Стрелка покажет направление движения транспортного средства (ТС) в зоне. Повторный клик удалит направление.
            Детектироваться будут только те ТС, направления движения которых совпадают с заданными для этой зоны. Направлений может быть до 4-х. Если направления не заданы, или заданы все 4, детектируется любое движение в зоне.
            Включенный, сработавший детектор отображается зеленым цветом, несработавший - красным. </p>
            <p>Тип созданной зоны детектирования может быть "Проезд", он обозначается символом "П" в центре, или "Остановка" - "О".
            Кликом на символе можно менять тип зоны. "Проезд" - означает детектирование движения - есть движение, детектор включился, нет - детектор выключился. "Остановка" - сравнивает текущее состояние зоны с фоном на котором нет
            транспортных средств. Если автомобиль есть в зоне, не важно движется он или стоит, детектор сработает и выключится, когда автомобиль покинет зону. Сразу после включения камеры, фон обучается в течение 2-х минут.
            Во время обучения все зоны типа "Остановка" работают как детекторы движения, постепенно по мере обучения начинают реагировать на остановку ТС. Обучение фона продолжается в течение всего времени работы детектора,
            позволяя корректно отрабатывать изменения освещенности в кадре, снег, дождь, другие долговременные изменения фона. Сохраните изменения нажатием кнопки "Сохранить".
            <p>Секция "Параметры" позволяет изменить настройки IP камеры, маски подсети и шлюза по умолчанию, а также задать IP адрес концентратора. Изменения настроек IP сохраняются при нажатии кнопки "Изменить".
            Кнопка "Удалить все" удаляет все полигоны, работает только в режиме редактирования.
            Кнопка "Настройки детектора" выводит таблицу параметров, которые задают порог срабатывания зон в режиме проезда и остановки, а также гистерезис в обоих режимах. Измените параметры при необходимости, сохраните их
            кнопкой "Сохранить" и закройте окно.</p>
            <p>Для сброса в заводские настройки IP  и подсчета количества проехавших ТС смотри руководство по эксплуатации.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>